/* Google Fonts Import Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root
{
    /*#287bff*/
    --bgcolor: #6a51c2;
    --white: #fff;
    --grey: #f5f5f5;
    --black1: #222;
    --black2: #999;
}
.sidebar{
    position: fixed;
    top:0;
    left: 0;
    height: 100%;
    width: 260px;
    background: #6F61C0;
    z-index: 100;
    transition: all 0.5s ease;
}
.sidebar.close{
    width: 78px;
}
.sidebar .logo-details{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
}
.sidebar .logo-details i{
    font-size: 30px;
    color: #fff;
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
}
.sidebar .logo-details .logo_name{
    font-size: 22px;
    color: #fff;
    font-weight: 600;
    transition: 0.3s ease;
    transition-delay: 0.1s;
}
.sidebar.close .logo-details .logo_name{
    transition-delay: 0s;
    opacity: 0;
    pointer-events: none;
}
.sidebar .nav-links{
    height: 100%;
    padding: 30px 0 150px 0;
    overflow: auto;
}
.sidebar.close .nav-links{
    overflow: visible;
}
.sidebar .nav-links::-webkit-scrollbar{
    display: none;
}
.sidebar .nav-links li{
    position: relative;
    list-style: none;
    transition: all 0.4s ease;
}
.sidebar .nav-links li:hover{
    background: #3D30A2;
}
.sidebar .nav-links li .iocn-link{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sidebar.close .nav-links li .iocn-link{
    display: block;
}
.sidebar .nav-links li i{
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.sidebar .nav-links li.showMenu i.arrow{
    transform: rotate(-180deg);
}
.sidebar.close .nav-links i.arrow{
    display: none;
}
.sidebar .nav-links li a{
    display: flex;
    align-items: center;
    text-decoration: none;
}
.sidebar .nav-links li a .link_name{
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}
.sidebar.close .nav-links li a .link_name{
    opacity: 0;
    pointer-events: none;
}
.sidebar .nav-links li .sub-menu{
    padding: 6px 6px 14px 80px;
    margin-top: -10px;
    background: #3D30A2;
    display: none;
}
.sidebar .nav-links li.showMenu .sub-menu{
    display: block;
}
.sidebar .nav-links li .sub-menu a{
    color: #fff;
    font-size: 15px;
    padding: 5px 0;
    white-space: nowrap;
    opacity: 0.6;
    transition: all 0.3s ease;
}
.sidebar .nav-links li .sub-menu a:hover{
    opacity: 1;
}
.sidebar.close .nav-links li .sub-menu{
    position: absolute;
    left: 100%;
    top: -10px;
    margin-top: 0;
    padding: 10px 20px;
    border-radius: 0 6px 6px 0;
    opacity: 0;
    display: block;
    pointer-events: none;
    transition: 0s;
}
.sidebar.close .nav-links li:hover .sub-menu{
    top: 0;
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
}
.sidebar .nav-links li .sub-menu .link_name{
    display: none;
}
.sidebar.close .nav-links li .sub-menu .link_name{
    font-size: 18px;
    opacity: 1;
    display: block;
}
.sidebar .nav-links li .sub-menu.blank{
    opacity: 1;
    pointer-events: auto;
    padding: 3px 20px 6px 16px;
    opacity: 0;
    pointer-events: none;
}
.sidebar .nav-links li:hover .sub-menu.blank{
    top: 50%;
    transform: translateY(-50%);
}
.sidebar .profile-details{
    position: fixed;
    bottom: 0;
    width: 260px;
    display: flex;
    align-items: center;
    justify-items: space-between;
    background: #3D30A2;
    padding: 6px 0;
    transition: all 0.4s ease;
}
.sidebar.close .profile-details{
    width: 78px;
}
.sidebar .profile-details .profile-content{
    display: flex;
    align-items: center;
}
.sidebar .profile-details img{
    height: 52px;
    width: 52px;
    object-fit: cover;
    border-radius: 16px;
    margin: 0 14px 0 12px;
    background: #3D30A2;
    transition: all 0.5s ease;
}
.sidebar.close .profile-details img{
    padding: 10px;
}
.sidebar .profile-details .profile_name,
.sidebar .profile-details .job{
    color:#fff;
    font-size: 18px;
    font-weight: 500;
    white-space: nowrap;
}
.sidebar.close .profile-details i,
.sidebar.close .profile-details .profile_name,
.sidebar.close .profile-details .job{
    display: none;
}
.sidebar .profile-details .job{
    font-size: 12px;
}
.home-section{
    position: relative;
    background: #fff;
    height: 100vh;
    left: 260px;
    width: calc(100% - 260px);
    transition: all 0.5s ease;
}
.sidebar.close ~ .home-section{
    left: 78px;
    width: calc(100% - 78px);
}
.home-section .home-content{
    height: 60px;
    display: flex;
    align-items: center;
}
.home-section .home-content .bx-menu,
.home-section .home-content .text{
    color: #6F61C0;
    font-size: 35px;
    cursor: pointer;
}

.home-section .home-content .bx-menu{
    margin: 0 15px;
}
.home-section .home-content .text{
    font-size: 26px;
    font-weight: 600;
}




/*---------------------------------------------------*/

body
{
    min-height: 100vh;
    overflow-x: hidden;
}
.container
{
    position: relative;
    width: 100%;
}
/* 파란색 크기 조절 가능부분 */

.navigation
{
    position: fixed;
    width: 300px;
    height: 100%;
    background: var(--bgcolor);
    border-left: 10px solid var(--bgcolor);
    transition: 0.5s;
    overflow: hidden;
}
/* --- 메인 세개 눌렀을때 메뉴 움직이는 기능 */
.navigation.active
{
    width: 80px;
}
.navigation ul
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.navigation ul li
{
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
/* DashBoard 마우스 올렸을때 */
.navigation ul li:hover,
/* .hovered 가 칸막이 역할을함*/
.navigation ul li.hovered
{
    background: var(--white);
}
/* Home 부분 간격 */

.navigation ul li:nth-child(1)
{
    margin-bottom: 35px;
    pointer-events: none;
}
.navigation ul li a
{
    position: relative;
    display: block;
    display: flex;
    width: 100%;
    text-decoration: none;
    color: var(--white);
}
.navigation ul li:hover a,
.navigation ul li.hovered a
{
    color: var(--bgcolor);
}
/* 아이콘 글씨 이름 위치 조절*/
/* margin 은 먹힘 vscode 에서는 line-height */
.navigation ul li a .icon
{
    position: relative;
    min-width: 60px;
    height: 52px;
    margin-top: 20px;
    text-align: center;
}

.navigation ul li a .icon ion-icon
{
    font-size: 1.75em;
}
/* 메뉴 글씨 이름 위치 조절*/
.navigation ul li a .title
{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 50px;
    line-height: 70px;
    text-align: start;
    white-space: nowrap;
}

/* curve ouside 13:22 */

.navigation ul li:hover a::before,
.navigation ul li.hovered a::before
{
    content: '';
    position: absolute;
    top: -50px;
    right: 0;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--white);
    pointer-events: none;
}

.navigation ul li:hover a::after,
.navigation ul li.hovered a::after
{
    content: '';
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px var(--white);
    pointer-events: none;
}

/* ----------main-------- */
.main
{
    position: absolute;
    width: calc(100% - 300px);
    Left: 300px;
    min-height: 100vh;
    background: var(--white);
    transition: 0.5s;
}
/*-----삼지창 눌렀을때 main 움직이는 부분 */
.main.active
{
    width: calc(100% - 80px);
    left: 80px;
}

.topbar
{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.search
{
    position: relative;
    width: 400px;
    margin: 0 10px;
}
.search label
{
    position: relative;
    width: 100%;
}
.search label input
{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 35px;
    font-size: 18px;
    outline: none;
    border: 1px solid var(--black2);
}
.search label ion-icon
{
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 1.2em;
}
.user
{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}
.user img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*-------------- 첫줄----------------------- */
.cardBox_1
{
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 30px;
}
/* 카드박스 크기 조절 할수 있는것 */
.cardBox_1 .card_1
{
    position: relative;
    background: var(--white);
    padding: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
}
/* 카드박스 안의 색상 조절 폰트 크기 조절 */
.cardBox_1 .card_1 .numbers_1
{
    position: relative;
    font-weight: 500;
    font-size: 2.5em;
    color: var(--bgcolor);
}
.cardBox_1 .card_1 .cardName_1
{
    color: var(--black2);
    font-size: 1.1em;
    margin-top: 5px;
}
.cardBox_1 .card_1 .iconBx
{
    font-size: 3.5em;
    color: var(--black2);
}
/* --------------첫줄 끝----------------*/

/*-------------- 둘째줄----------------------- */
.cardBox_2
{
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
}
/* 카드박스 크기 조절 할수 있는것 */
.cardBox_2 .card_2
{
    position: relative;
    background: var(--white);
    padding: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
}
/* 카드박스 안의 색상 조절 폰트 크기 조절 */
.cardBox_2 .card_2 .numbers_2
{
    position: relative;
    font-weight: 500;
    font-size: 2.5em;
    color: var(--bgcolor);
}
.cardBox_2 .card_2 .cardName_2
{
    color: var(--black2);
    font-size: 1.1em;
    margin-top: 5px;
}
.cardBox_2 .card_2 .iconBx
{
    font-size: 3.5em;
    color: var(--black2);
}
/* --------------둘째줄 끝----------------*/

/*-------------- 셋째줄----------------------- */
.cardBox_3
{
	
	margin-left:5%;
    position: relative;
    width: 107%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 30px;
}
/* 카드박스 크기 조절 할수 있는것 */
.cardBox_3 .card_3
{
    position: relative;
    background: var(--white);
    padding: 30px;
    border-radius: 20px;
    display: flex;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
}
.cardBox_3 .card_3_1
{
	margin-left: 20%;
    position: relative;
    width: 45%;
    background: var(--white);
    padding: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
}
/* 카드박스 안의 색상 조절 폰트 크기 조절 */
.cardBox_3 .card_3 .numbers_3
{
    position: relative;
    font-weight: 500;
    font-size: 2.5em;
    color: var(--bgcolor);
}
.cardBox_3 .card_3 .cardName_3
{
    color: var(--black2);
    font-size: 1.1em;
    margin-top: 5px;
}
.cardBox_3 .card_3 .iconBx
{
    font-size: 3.5em;
    color: var(--black2);
}
/* --------------셋째줄 끝----------------*/

/*-------------- 넷째줄----------------------- */
.cardBox_4
{
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-gap: 30px;
}
/* 카드박스 크기 조절 할수 있는것 */
.cardBox_4 .card_4
{
    position: relative;
    background: var(--white);
    padding: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
}
/* 카드박스 안의 색상 조절 폰트 크기 조절 */
.cardBox_4 .card_4 .numbers_4
{
    position: relative;
    font-weight: 500;
    font-size: 2.5em;
    color: var(--bgcolor);
}
.cardBox_4 .card_4 .cardName_4
{
    color: var(--black2);
    font-size: 1.1em;
    margin-top: 5px;
}
.cardBox_4 .card_4 .iconBx
{
    font-size: 3.5em;
    color: var(--black2);
}
/* --------------넷째줄 끝----------------*/









/* 카드박스에 마우스 올렸을때 */
.cardBox_1 .card_1:hover
{
    background: var(--bgcolor);
}
.cardBox_1 .card_1:hover .numbers_1,
.cardBox_1 .card_1:hover .cardName_1,
.cardBox_1 .card_1:hover .iconBx
{
    color: var(--white);
}

/* detail 시작 */
.details
{
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 30px;
    margin-top: 10px;
}
.details .recentOrders
{
    position: relative;
    display: grid;
    min-height: 500px;
    background: var(--white);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
    border-radius: 20px;
}
.cardHeader
{
    display : flex;
    justify-content: space-between;
    align-items: flex-start;

}
/* Recent Orders 색상 정하기 */
.cardHeader h2
{
    font-weight: 600;
    color: var(--bgcolor);
}
.writerbtn
{
    position: relative;
    padding: 5px 10px;
    background: var(--bgcolor);
    text-decoration: none;
    color: var(--white);
    border-radius: 6px;
}
.details table
{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
.details table thead td
{
    font-weight: 600;
}
.details .recentOrders table tr
{
    color: var(--black1);
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
/* 글 안에 선 마지막선 제거 */
.details .recentOrders table tr:last-child
{
    border-bottom: none;
}

/* 글 마다 마우스 올렸을때 */
.details .recentOrders table tbody tr:hover
{
    background: var(--bgcolor);
    color: var(--white);
}

.details .recentOrders table tr td
{
    padding: 10px;
}
.details .recentOrders table tr td:last-child
{  
    text-align: end;
}

/* 글 줄 간격 맞추기 */
.details .recentOrders table tr td:nth-child(1)
{  
    text-align: center;
}
.details .recentOrders table tr td:nth-child(2)
{  
    text-align: center;
}
.details .recentOrders table tr td:nth-child(3)
{  
    text-align: center;
}
.details .recentOrders table tr td:nth-child(4)
{  
    text-align: center;
}
.details .recentOrders table tr td:nth-child(5)
{  
    text-align: center;
}
.details .recentOrders table tr td:nth-child(6)
{  
    text-align: center;
}
/* status 첫등장  RANk 색 줄때 */
.status.delivered
{
    padding: 2px 4px;
    background: #e98527;
    color : var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}
.status.pending
{
    padding: 2px 4px;
    background: #c72145;
    color : var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

/* Sub BoardList 서브 서브 시작*/
/* 박스 크기 */
.recentCustomers
{
    position: relative;
    display: grid;
    min-height: 500px;
    padding: 20px;
    background: var(--white);
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
    border-radius: 20px;
}
/* 이미지 사진 크기 */
.recentCustomers .imgBx
{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

/* page box */
#pagination{
  padding-top: 20px;
}
.pagination ul{
  display: flex;
  justify-content: center;
}
.pagination ul li{
  list-style: none;
}
.pagination ul li a{
  display: block;
  padding: 8px 10px;
  margin: 1px 3px;
  color: #717171;
  background-color: #f5f5f5;
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 0 1px;
  background-image: -webkit-linear-gradient(top, #f9f9f9, #eaeaea);
  font-size: smaller;
  border: 1px solid #DDDDDD;
  border-radius: 3px;
}
.pagination ul li a:hover{
  border-color: #fff;
  background-color: #fdfdfd;
  background-image: -webkit-linear-gradient(top, #fefefe, #fafafa);
}
.pagination ul li a.active{
  color: #f2f2f2;
  background-color: #676767;
  border-color: #505050;
  background-image: -webkit-linear-gradient(top, #5f5f5f, #5c5c5c);
  box-shadow: rgba(0, 0, 0, 0.75) 0 0 0 0 inset;
}




/* 마우스 올렸을때 상승률 순위 + 하락률 + 거래량 */
.highRate{
	background: #6F61C0;
	font-weight: bold;
	color: white;
}
.highRate:hover{
	background: #Ba68C8;
}

.rowRate{
	background: #6F61C0;
	font-weight: bold;
	color: white;
}
.rowRate:hover{
	background: #Ba68C8;
}
.marketRate{
	background: #6F61C0;
	font-weight: bold;
	color: white;
}
.marketRate:hover{
	background: #Ba68C8;
}
/*-----------------------------------------*/

/* 일주일 클릭했을때  */
.week1{
	background: #6F61C0;
	font-weight: bold;
	color: white;
}
.week1:hover{
	background: #Ba68C8;
}

.month1{
	background: #6F61C0;
	font-weight: bold;
	color: white;
}
.month1:hover{
	background: #Ba68C8;
}
.year1{
	background: #6F61C0;
	font-weight: bold;
	color: white;
}
.year1:hover{
	background: #Ba68C8;
}
/* 일주일 클릭했을때 끝 */

/* 상승 보합 하락 거래량 시가총액 클릭 시작 */

.up{
	background: #6F61C0;
	font-weight: bold;
	color: white;
}
.up:hover{
	background: #Ba68C8;
}

.down{
	background: #6F61C0;
	font-weight: bold;
	color: white;
}
.down:hover{
	background: #Ba68C8;
}
.zero{
	background: #6F61C0;
	font-weight: bold;
	color: white;
}
.zero:hover{
	background: #Ba68C8;
}
.marketAmount{
	background: #6F61C0;
	font-weight: bold;
	color: white;
}
.marketAmount:hover{
	background: #Ba68C8;
}
.marketPrice{
	background: #6F61C0;
	font-weight: bold;
	color: white;
}
.marketPrice:hover{
	background: #Ba68C8;
}



/* 상승 보합 하락 거래량 시가총액 클릭 끝 */

.t1{
	margin-left:auto;
	
	margin-right:auto;
}
.t1 td{
	width:200px;
	border-collapse: collapse;
	
}



