
<!-- CSS설정하기 -->


	/****************************************/
	/* body 태그 안의 모든 태그를 15px로 하기 */
	/****************************************/
	body *{
		font-size:15px;
	}
	/****************************************/
	/* th 태그 안의 배경색을 lightgray로 하기 */
	/****************************************/
	th{
		background-color:lightgray;
	}
	/****************************************/
	/* class=searchResult를 가진 태그의 후손중에
		tr중에 2n+3번째 tr의 배경색을 #f6f6f6으로 하기
		이때 n은 0부터 시작해서 1씩 증가 */
	/****************************************/
	.searchResult tr:nth-child(2n+3){
		background-color:#f6f6f6;
	}
